<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>LCL OCR</title>
    <link type="text/css" href="{{ url_for('static', filename='css/tui-color-picker.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='dist/tui-image-editor.css') }}" rel="stylesheet"/>
    <style>
      @import url(http://fonts.googleapis.com/css?family=Noto+Sans);
      html,
      body {
        height: 100%;
        margin: 0;
      }
      textarea {
        width: 512px;
        height: 700px;
      }
      .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
      }
      .result-bar {
        width: 40%;
        padding: 20px;
      }
      .result {
        width: 700px;
        height: 810px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 2px #1E90FF;
        border-radius: 5px;
        font-size: 16px;
        resize: both;
      }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="row">
<div id="tui-image-editor-container"></div>
<div class="result-bar">
<h3>결과</h3>
<textarea class="result" id="ocrResult" readonly></textarea>
</div>
</div>
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fabric.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tui-code-snippet.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tui-color-picker.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='dist/tui-image-editor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/theme/white-theme.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/theme/black-theme.js') }}"></script>
<script>
    // Image editor
  var imageEditor = new tui.ImageEditor('#tui-image-editor-container', {
    includeUI: {
      loadImage: {
            path: "{{ url_for('static', filename='img/bg.jpeg') }}",
            name: 'SampleImage',
      },
      theme: blackTheme, // or whiteTheme
      // theme: whiteTheme, // or whiteTheme
      menu: ['crop', 'flip', 'rotate', 'mask'],
      initMenu: null,
      uiSize: {
        // width: '1024px',
        // height: '700px'
        width: '1024px',
        height: '900px'
      },
      menuBarPosition: 'bottom',
    },
    // cssMaxWidth: 700,
    // cssMaxHeight: 500,
    cssMaxWidth: 1024,
    cssMaxHeight: 900,
    usageStatistics: false,
  });

  window.onresize = function () {
    imageEditor.ui.resizeEditor();
  };

  $(document).ready(function () {
    $(".tui-image-editor-header-logo img").each(function() {
      this.src = "{{ url_for('static', filename='img/logo.png') }}";
    });
    $('.tui-image-editor-header-buttons .tui-image-editor-download-btn').replaceWith('<button class=\"tui-image-editor-save-btn\"  style=\"background-color: #fdba3b;border: 1px solid #fdba3b;color: #fff;font-family: \'Noto Sans\', sans-serif;font-size: 12px\">Submit</button>')

    document.querySelector('.tui-image-editor-header-buttons .tui-image-editor-save-btn').addEventListener('click', function() {
      const imageUrl = imageEditor.toDataURL();

      $("#ocrResult").val("처리중...");
      // SEND TO SERVER
      $.ajax({
        url: 'http://127.0.0.1:5000/submit_image', // upload url
        method: "POST",
        contentType: "application/json",
        data: imageUrl,
        success: function(data) {
          console.log('UPLOADED SUCCESSFULLY, PLEASE TRY AGAIN...');
          let json_data = JSON.parse(data)
          console.log(json_data)
          let print_data = ''
          for (const element of json_data) {
            print_data += element + '\n'
          }
          console.log(print_data);
          $("#ocrResult").val(print_data);
          return false;
        },
        error: function(xhr, status, error) {
          console.error('UPLOAD FAILED, PLEASE TRY AGAIN...');
          console.error('satus: ', status);
          console.error('error: ', error);
          return false;
        }
      });
      return false;
    })
  });

</script>
</body>
</html>
