<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>LCL OCR</title>
    <link type="text/css" href="{{ url_for('static', filename='css/tui-color-picker.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='dist/tui-image-editor.css') }}" rel="stylesheet"/>
    <style>
      @import url(http://fonts.googleapis.com/css?family=Noto+Sans);
      html,
      body {
        height: 100%;
        margin: 0;
      }
      textarea {
        width: 1024px;
        height: 200px;
      }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="tui-image-editor-container"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fabric.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tui-code-snippet.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tui-color-picker.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='dist/tui-image-editor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/theme/white-theme.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/theme/black-theme.js') }}"></script>
<script>
    // Image editor
  var imageEditor = new tui.ImageEditor('#tui-image-editor-container', {
    includeUI: {
      loadImage: {
            path: "{{ url_for('static', filename='img/bg.jpeg') }}",
            name: 'SampleImage',
      },
      theme: blackTheme, // or whiteTheme
      // theme: whiteTheme, // or whiteTheme
      menu: ['crop', 'flip', 'rotate', 'mask'],
      initMenu: null,
      uiSize: {
        width: '1024px',
        height: '700px'
      },
      menuBarPosition: 'bottom',
    },
    // cssMaxWidth: 700,
    // cssMaxHeight: 500,
    cssMaxWidth: 500,
    cssMaxHeight: 300,
    usageStatistics: false,
  });

  window.onresize = function () {
    imageEditor.ui.resizeEditor();
  };



  $(document).ready(function () {
    $(".tui-image-editor-header-logo img").each(function() {
      this.src = "{{ url_for('static', filename='img/logo.png') }}";
    });
    $('.tui-image-editor-header-buttons .tui-image-editor-download-btn').replaceWith('<button class=\"tui-image-editor-save-btn\"  style=\"background-color: #fdba3b;border: 1px solid #fdba3b;color: #fff;font-family: \'Noto Sans\', sans-serif;font-size: 12px\">Submit</button>')

    document.querySelector('.tui-image-editor-header-buttons .tui-image-editor-save-btn').addEventListener('click', function() {
      const imageUrl = imageEditor.toDataURL();

      // SEND TO SERVER
      $.ajax({
        url: 'http://127.0.0.1:5000/submit_image', // upload url
        method: "POST",
        contentType: "application/json",
        data: imageUrl,
        success: function(data) {
          console.log('UPLOADED SUCCESSFULLY, PLEASE TRY AGAIN...');
          $("#ocrResult").val(data);
          return false;
        },
        error: function(xhr, status, error) {
          console.error('UPLOAD FAILED, PLEASE TRY AGAIN...');
          console.error('satus: ', status);
          console.error('error: ', error);
          return false;
        }
      });
      return false;
    })
  });

</script>
<h3>결과</h3>
<textarea  id="ocrResult" readonly></textarea>
</body>
</html>
